# ──────────────────────────────────────────
# .gitignore
# ──────────────────────────────────────────

#location and binary files
seeds/*.shp
seeds/*.shx
seeds/*.dbf
seeds/*.prj

# ENV Passkeys
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
count_rows_csv.py

# Virtual environment folders
venv/
env/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Delta Lake and Spark output files
pipeline/bronze/data/
pipeline/silver/data/
pipeline/gold/data/
*.parquet
*.delta
*.csv
*.xlsx
*.gz

# dbt
dbt/target/
dbt/logs/
dbt/.user.yml

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/